<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#each shows}}
    <div class='tv-shows'>
        <div>
            <a href='/show/{{this.id}}'>{{this.name}}</a>
        </div>

        <div>
            <a href='/show/{{this.id}}'><img
                    src='{{this.image.medium}}'
                    alt='Show Poster'
                /></a>
        </div>
        <div id='showId-{{this.id}}'>

        </div>

        <p id='showRating-{{this.id}}' data-show-id='{{this.id}}'>Community
            Rating: Unrated</p>

    </div>
{{/each}}